fastapi
jsonschema
starlette
typing_extensions
python-dotenv
pluggy
requests
passlib
pydantic>=2.0
pydantic_core
pydantic-settings
python-multipart
websockets
httpx
humanize
aiortc>=1.9
aiohttp>=3.9
av>=12
pylibsrtp>=0.8.0
